body {
	padding: 0;
	margin: 0;

	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	background-color: #3a3a3a;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

.top {
	padding-left: 5%;
	padding-top: 40px;
	text-align: left;
	font-family: 'Share Tech Mono', serif;
}

#name {
	font-size: 10px;
	font-family: 'Share Tech Mono', sans-serif;
}

.section {
	padding-left: 5%;
	text-align: left;
	font-family: 'Share Tech Mono', serif;
}

