body {
	padding: 0;
	margin: 0;
	
	font-size: 16px;
	line-height: 1.5;
	color: #777;
	background-color: #eee; 
}

a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a:hover {
	text-decoration: underline;
}

.top {
	padding-top: 40px;
	width: 100%;
	text-align: center;
	font-family: 'Droid Serif', serif;
}

#name {
	font-size: 65px;
	font-family: 'Raleway', sans-serif;
}

.sectionstable {
	width: 100%;
	display: table;
	padding-top: 50px;
	padding-bottom: 30px;
}

.section {
	display: table-row;
}

.content {
	display: table-cell;
	text-align: left;
	font-family: 'Droid Serif', serif;
	padding-top: 0px;
	padding-left: 40px;
	vertical-align: top;
}

.sectiontitle {
	width: 40%;
	display: table-cell;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	text-align: right;
	vertical-align: top;
}